Repository 0-Crew/WYB_Android, pull requests merged in 2022-03, with the labels that each got.

#2 [style] font style guide
  app/src/main/res/layout/fragment_challenge.xml
  app/src/main/res/layout/item_challenge_container.xml
  app/src/main/res/layout/item_challenge_date.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/values/themes.xml
Labels: style

#3 [fix] gitignore 수정
  .gitignore
  .idea/.gitignore
  .idea/runConfigurations.xml
Labels: fix

#4 [chore] sdk version 업그레이드, package 구조 재설정
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/wyb/wyb_android/data/model/Challenge.kt
  app/src/main/java/com/wyb/wyb_android/data/model/Comfort.kt
  app/src/main/java/com/wyb/wyb_android/ui/MainActivity.kt
  app/src/main/java/com/wyb/wyb_android/ui/home/ChallengeAdapter.kt
  app/src/main/java/com/wyb/wyb_android/ui/home/ChallengeDateAdapter.kt
  app/src/main/java/com/wyb/wyb_android/ui/home/ChallengeFragment.kt
  app/src/main/java/com/wyb/wyb_android/ui/home/ChallengeViewModel.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_challenge.xml
  app/src/main/res/layout/item_challenge_container.xml
  app/src/main/res/layout/item_challenge_date.xml
  app/src/main/res/navigation/nav_graph.xml
  build.gradle
Labels: chore

#5 [feat] WYBLabelEditText CustomView 구현
  app/src/main/java/com/wyb/wyb_android/widget/WYBLabelEditText.kt
  app/src/main/res/drawable-hdpi/ic_edit.png
  app/src/main/res/drawable-mdpi/ic_edit.png
  app/src/main/res/drawable-xhdpi/ic_edit.png
  app/src/main/res/drawable-xxhdpi/ic_edit.png
  app/src/main/res/drawable-xxxhdpi/ic_edit.png
  app/src/main/res/drawable/ic_check_20.xml
  app/src/main/res/drawable/ic_edit.xml
  app/src/main/res/drawable/shape_gray2_stroke.xml
  app/src/main/res/drawable/shape_orange_stroke.xml
  app/src/main/res/layout/item_challenge_container.xml
  app/src/main/res/layout/view_wyb_label_edit_text.xml
  app/src/main/res/values/attrs.xml
  app/src/main/res/values/strings.xml
Labels: layout, feature
